body {
  background-color: #d3d3d3;
}

a {
  text-decoration: none;
  color: #00008b;
}
h1,
h2 {
  margin: 0;
}

h3,
h4 {
  padding: 20px;
  background-color: #d3d3d3;
}

#Container {
  background-color: white;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: #2f4f4f;
  color: white;
  text-align: center;
  padding: 20px;
}

#content {
  padding: 10px;
}

#nav1 {
  width: 400px;
  float: right;
}

#nav1 ul {
  list-style-type: none;
  padding: 0;
}
#main {
  width: 1580px;
  height: auto;
  float: left;
}

#footer {
  clear: both;
  text-align: center;
}
#map {
  float: right;
}
